**1-Write a Python program to calculate the length of a string using 2 ways

In [1]:
string ="abdo"
print (len(string))

4

In [3]:
string ="abdelhalim"
count=0
for i in string:
    count+=1
print(count)

10

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [7]:
string =input("enter string ")
if len(string)<=2:
    print(" ")
else:
    print(string[:2]+string[-2:])

asop

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [10]:
string =input("enter string ")
if len(string)<=3:
    print("string length should be mor than 3 ")
elif string[-3:]=="ing":
    print(string[:-3]+'ly')
else:
    print(string+'ing')

poooooooing

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [12]:
def long(names):
    lword=""
    lenword=0
    for i in names:
        if len(i)>lenword:
            lenword=len(i)
            lword=i
    print (f"word is {lword} and the length is {lenword}")


l=["looop","loop","cop","abdo","abdelhalim"]
long(l)

word is abdelhalim and the length is 10

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [14]:
string =input("enter string ")
print(string[-1]+string[1:-1]+string[0])

doog

In [15]:
string =input("enter string ")
new=string[-1]+string[1:-1]+string[0]
print(new)

pool

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [17]:
string =input("enter string ")
print(string[:-1:2])

adlai

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [24]:
string ="amr and ahmed and ahmed and ahmed and ahmed and ahmed and "
n=string.split()
word=''
count=0
for i in n:
    x=0 
    for j in n:
        if i ==j :
            x+=1
    if x>count:
        word=i
        count=x        
print(word , count)

and 6

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [26]:
string=input("enter string ")
print(string.upper())
print(string.lower())

GOOD
good

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [39]:
def rfunction(string):
    if len(string)%4==0:
        return string[::-1]
    else:
        return string

string=input("enter a string ")      
n=rfunction(string)
print(n)

odba

**10- Write a Python program to remove a newline in Python

In [44]:
string ="  ldosdv odospvdv oopdsfvj podsdvj "
print(string.lstrip() )

ldosdv odospvdv oopdsfvj podsdvj

**11-Write a Python program to check whether a string starts with specified characters

In [47]:
string="abdo"
print(string.startswith("#"or '$'or '_'or '^'or '&'))

False

**12- Write a Python program to add prefix text to all of the lines in a string

In [49]:
string="abdo"
pre="hi,"
print(pre,string)

hi, abdo

**13-Write a Python program to print the following numbers up to 2 decimal places

In [55]:
number =float( input("enter number "))
num = "{:.2f}".format(number)
print(num)

22.24

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [58]:
number =float( input("enter number "))
num = "{:+.2f}".format(number)
print(num)

-25559.34

**15-Write a Python program to display a number with a comma separator

In [63]:
number = 1234567
num = "{:,.2f}".format(number)
print(num)

1,234,567.00

**16-Write a Python program to reverse a string using 2 ways

In [67]:
#frist way
string ="good"
print(string[::-1])
print("--------------------------------------")
#sconde way
lstring=list(string)
lstring.reverse()
new="".join(lstring)
print(new)

doog
--------------------------------------
doog

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [69]:
string ="hi abdelhalim ashraf"
d={}
for i in string:
    if i in d :
        d[i]+=1
    else:
        d[i]=1
for i,x in d.items():
    if x>1:
        print(f"the number of this char {i} is {x} ")

the number of this char h is 3
the number of this char i is 2
the number of this char   is 2
the number of this char a is 4
the number of this char l is 2

**18-Write a Python program to find the first non-repeating character in a given string

In [71]:
string ="hello"
d={}
for i in string:
    if i in d :
        d[i]+=1
    else:
        d[i]=1
for i,x in d.items():
    if x==1:
        print(f"the  char is  {i}  ")

the  char is  h
the  char is  e
the  char is  o

**19-Write a Python program to remove spaces from a given string

In [74]:
string ="h e l l o "
new=[]
for i in string:
    if i !=" " :
        new.append(i)
n="".join(new)
print(n)

hello

**20-Write a Python program to count the number of non-empty substrings of a given string

In [8]:
## need information
# 1
string ="hello"
count =0
for i in range(len(string)):
    for j in range(i+1,len(string)+1):
        if string[i:j]:
            count+=1
print(count)
# 2
x=0
result=(len(string)*(len(string)+1))/2
print(result)

15
15.0

**21-write a Python program to swap first and last element of any list.

In [16]:
def swap(li):
    temp=li[0]
    li[0]=li[-1]
    li[-1]=temp
li=["abdo","what","set","while","for","you","po","do","go","if ","loop"]
print("before ",li)
swap(li)
print("after",li)

before  ['abdo', 'what', 'set', 'while', 'for', 'you', 'po', 'do', 'go', 'if ', 'loop']
after ['loop', 'what', 'set', 'while', 'for', 'you', 'po', 'do', 'go', 'if ', 'abdo']

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [18]:
def swap(li,p1,p2):
    temp=li[p1]
    li[p1]=li[p2]
    li[p2]=temp
li=[23,65,19,90]
print("before ",li)
p1=1
p2=3
swap(li,p1-1,p2-1)
print("after",li)

before  [23, 65, 19, 90]
after [19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [21]:
#1
string =["hello",1,5,6,8,8,9,8,66]
print(len(string))
#2
string =["hello",1,5,6,8,8,9,8,66]
s=string
x=0
for i in s :
    x+=1
print (x)

9
9

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [27]:
li=[100,88,89,89,999,7,777,8,556,9222,699,32,255,2023,636,2033,1497]
max=0
for i in li:
    if i>max:
        max=i
print(max)

9222

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [30]:
li=[100,88,89,89,999,7,777,8,556,9222,699,32,255,2023,636,2033,-300,1497]
min=1234567890123456789
for i in li:
    if i< min:
        min=i
print(min)

-300

**26-search for if an elem is existing in list

In [36]:
def find(li,n):
    for i in li:
        if i==n:
            return True
        
    return False
            

li=[1250,558,5,8,6,6,6,3,66,55,558,8,22,58,9,3699,225,8,22]
x=find(li,155)        
print(x)

False

**27- clear python list using different ways

In [55]:
#1
li=[50,58,5,8,6,6,16,3,66,55,55,8,22,58,9,39,2,8,2]
li.clear()
print(li)
#2
li=[50,58,5,8,6,6,16,3,66,55,55,8,22,58,9,39,2,8,2]
del li
#3
li=[50,58,5,8,6,6,16,3,66,55,55,8,22,58,9,39,2,8,2]
li=[]

[]

**28-remove duplicated elements from a list

In [43]:
def rduplicated(li):
    x=[]
    for i in li:
       if i not in x:
           x.append(i)
    return x       


li=[50,58,5,8,6,6,16,3,66,55,55,8,22,58,9,39,2,8,2]
print(li)
new=rduplicated(li)
print("----------------------------")
print(new)

[50, 58, 5, 8, 6, 6, 16, 3, 66, 55, 55, 8, 22, 58, 9, 39, 2, 8, 2]
----------------------------
[50, 58, 5, 8, 6, 16, 3, 66, 55, 22, 9, 39, 2]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [66]:
def add(li,key , value):
    li[key]=(value)

test_list = ["Gfg", 3, "is", 8,"li", 18]
key_list = ["name", "id"]
li={}
new=[]
y=0
for  s in range( int(len(test_list)/len(key_list))):
    x=0
    for i in key_list:
        add(li,key_list[x],test_list[y])
        x+=1
        y+=1
    new.append(li)    

print(new)

[{'name': 'li', 'id': 18}, {'name': 'li', 'id': 18}, {'name': 'li', 'id': 18}]

**30-write a python program to count unique values inside a list using different ways

In [68]:
#1
li=[50,58,5,8,6,6,16,3,66,55,55,8,22,58,9,39,2,8,2]
c=0
for i in li:
    c+=i
print(c)
#2     
li=[50,58,5,8,6,6,16,3,66,55,55,8,22,58,9,39,2,8,2]
c=0
for i in range(len(li)) :
    c+=li[i]
print(c)

476
476

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [71]:
li=[4, 6, 4, 3, 3, 4, 3, 4, 3, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8]
k=int (input("enter number "))
add=[]

for i in li:
    c=0
    for j in li:
        if i==j:
            c+=1
    if c>k and i not in add:
        add.append(i)
print(add)

[8]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [77]:
def strongest_neighbor(nums):
    n = len(nums)
    for i in range(1, n-1):
        if nums[i-1] <= nums[i] >= nums[i+1]:
            print(nums[i], end=' ')

# Sample usage
nums = [1, 2, 2, 3, 4, 5]
strongest_neighbor(nums)

2

In [83]:
## condation 
def strongest(li):
    n=len(li)
    for i in range(1, n-1):
        if li[i-1] <= li[i] and li[i] >= li[i+1]:
            print(li[i], end=' ')
        

li = [1, 2, 2, 3, 4, 5]
strongest(li)

[2]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [85]:
############################################################
import itertools

def print_combinations(digits):
    for permutation in itertools.permutations(digits):
        print(' '.join(map(str, permutation)), '##')


digits = [1, 2, 3]
print_combinations(digits)

1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1 ##

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [98]:
##################################################
def find(lst):
    n = len(lst)
    result = []
    for i in range(n):
        for j in range(i+1, n+1):
            if i == 0 or lst[i-1] < lst[j-1] - 1:
                result.append(lst[i:j])
    return result


li = [1, 2, 3]
result = find(li)
for i in result:
    print(i)

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [43]:
li1 = ["a", "b"]
li2 = [1, 2]
new = []

for i in range(len(li1)):
    r = []

    for j in range(len(li1)):
        if i == 0:
            r.append((li1[j], li2[j]))
        elif j == 0:
            r.append((li1[j], li2[j]))
        else:
            r.append((li1[j], li2[j]))

    new.append(r)

print(new)

[[('a', 1), ('b', 2)], [('a', 1), ('b', 2)]]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [63]:
li=[1,2,3,1]
for i in li :
    if i==1:
        li.remove(1)
        
print(li)

[2, 3]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [7]:
l1=["Gfg", "is", "best"]
l2= [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]

for i in range(0,len(l2)):
    l2[i]=l1[l2[i]]
    
print(l2)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [13]:
li= [(4, 5, 5, 4), (5, 4, 3)]
t={}
k=int(input("enter k "))
n=int(input("enter n "))

for i in li :
    s=list(i)
    count=0
    for g in s:
        if g==k:
            count+=1
    t[count]=i 

print(t[n])

(4, 5, 5, 4)

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [14]:
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]

sorted_array = sorted(array, key=lambda x: x[0])
print("Sorted array specific to column 0, ", sorted_array)

sorted_array = sorted(array, key=lambda x: x[1])
print("Sorted array specific to column 1, ", sorted_array)

sorted_array = sorted(array, key=lambda x: x[2])
print("Sorted array specific to column 2, ", sorted_array)

Sorted array specific to column 0,  [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1,  [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2,  [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [17]:
d={'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
sorted_dict = dict(sorted(d.items()))
print( sorted_dict)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [31]:
    
test_dict = {'Gfg': 3, 'is': 7, 'best': 10, 'for': 6, 'geeks': 'CS'}
K = 7

for key in list(test_dict.keys()):
    if isinstance(test_dict[key], int) and test_dict[key] > K:
        del test_dict[key]

print( test_dict)

{'Gfg': 3, 'is': 7, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [32]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
new_dic={}
for d in [dic1,dic2,dic3]:
    new_dic.update(d)
print(new_dic)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [34]:
d={'Gfg': 3, 'is': 7, 'best': 10, 'for': 6, 'geeks': 'CS'}
for key in d:
    print ("key is :",key)
print("-----------------")
for value in d.values():
    print ("value is :",value)
print("-----------------")
for key,value in d.items():
    print ("dic is :",key,value)

key is : Gfg
key is : is
key is : best
key is : for
key is : geeks
-----------------
value is : 3
value is : 7
value is : 10
value is : 6
value is : CS
-----------------
dic is : Gfg 3
dic is : is 7
dic is : best 10
dic is : for 6
dic is : geeks CS

**44- Write a Python script to merge two Python dictionaries

In [37]:
#1
dict1 = {'apple': 2, 'banana': 5, 'orange': 3}
dict2 = {'pear': 1, 'kiwi': 4, 'melon': 2}

merged_dict = {**dict1, **dict2}

print( merged_dict)

{'apple': 2, 'banana': 5, 'orange': 3, 'pear': 1, 'kiwi': 4, 'melon': 2}

In [39]:
#2
dic1 = {'apple': 2, 'banana': 5, 'orange': 3}
dic2 = {'pear': 1, 'kiwi': 4, 'melon': 2}
new_dic={}
for d in [dic1,dic2]:
    new_dic.update(d)
print(new_dic)

{'apple': 2, 'banana': 5, 'orange': 3, 'pear': 1, 'kiwi': 4, 'melon': 2}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [42]:
d={'apple': 2, 'banana': 5, 'orange': 3, 'pear': 1, 'kiwi': 4, 'melon': 2}
li=d.values()
print( "the max value is  ",max(li))
print( "the min value is  ",min(li))

the max value is   5
the min value is   1

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [53]:
d={'c1': 'Red', 'c2': 'Green', 'c3': None}
s={}
for i in d :
    if d[i] is not  None:
        s[i]=d[i]
        
print(s)

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [37]:
t=(12,33,30,144,122,55,88,99)
print(t[1])

33

**48-Write a Python program to unpack a tuple into several variables

In [64]:
a,b,c=(1,2,3)
print(a)
print(b)
print(c)

1
2
3

**49-Write a Python program to add an item to a tuple

In [35]:
l =(1,3,3,3,33,335,8)
t=l+(55,0,11)
print(t)

(1, 3, 3, 3, 33, 335, 8, 55, 0, 11)

**50-Write a Python program to convert a tuple to a string

In [168]:
def to_string(tpl):
    result = ''.join(map(str, tpl))
    return result
t=(1,2,3,3,5,4,5,5,5)
s=to_string(t)
print(s)

123354555
-------------
[1, 2, 3, 3, 5, 4, 5, 5, 5]
[1, 2, 3, 3, 5, 4, 5, 5, 5]

**51-Write a Python program to convert a list to a tuple

In [134]:
li =[4, 6, 4, 3, 3, 4, 3, 4, 3, 8]

s= set(li)
print(s)

{8, 3, 4, 6}

**52-Write a Python program to reverse a tuple

In [146]:
s=(1,2,3,5,4,2,8,9,7)
l =list(s)
l.reverse()
news=tuple(l)
print(news)

(7, 9, 8, 2, 4, 5, 3, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [152]:
def chang(li,new):
    result =[]
    for i in li:
        result.append(i[:-1]+(new,))
    return result    



li=[(10, 20, 40), (40, 50, 60), (70, 80, 90)]
new=100
chang(li,new)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [4]:
string="python3.0"
li = tuple(string)
print(li)

('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [8]:
t=(1,452,200,102,20056,210,1000,165,404,4441,55,249)
sum=0
for i in t:
    sum+=int(i)
print(sum/len(t))

2277.9166666666665

**56-Write a Python program to add member(s) to a set.

In [9]:
s={1,2,22}
print("before ",s)
s.add(123)
s.add(323)
s.add(423)
s.add(23)
print("after ",s)

before  {1, 2, 22}
after  {1, 2, 323, 423, 22, 23, 123}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [18]:
s={1,2,2,2}
print(s)

{1, 2}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [31]:
s1={1,2,3,5}
s2={1,5,6,9}
un=s1.union(s2)
print("union is ",un) 
inter=s1.intersection(s2)
print("intersection is ",inter)
defrance=s1.difference(s2)
print("intersection is ",defrance)

union is  {1, 2, 3, 5, 6, 9}
intersection is  {1, 5}
intersection is  {2, 3}

**59-Write a Python program to find the maximum and minimum values in a set

In [21]:
s={1,23,2023,22,33,330,30,69,96,85,74}
print("set is ",s)
print( "max num is ",max(s))
print( "min num is ",min(s))

set is  {96, 1, 33, 69, 2023, 330, 74, 85, 22, 23, 30}
max num is  2023
min num is  1

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [10]:
value =int(input("enter the expected value "))
li =[1,2,3,6,5,4,8,9]
result=[]
for i in li:
    for j in range(len(li)):
        
        if (i+li[j])==value:
            result.append((i,li[j]))
           
print(result)

[(8, 8)]